# See http://help.github.com/ignore-files/ for more about ignoring files.

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Mac OS X
.DS_Store
._.*
._*

# Ignore local editor
.project
.settings
.idea
*.swp
tags
nbproject/*

# Windows
Thumbs.db

npm-debug.log

node_modules/
dist/
