.hidden {
    display: none;
}

.left-padding-5px {
    padding-left: 5px;
}

.text-align-center {
    text-align: center;
}

.vertical-align-top {
    vertical-align: top;
}

.border-black-1 {
    border: 1px solid black;
}

.border-red-1 {
    border: 1px solid red;
}

.no-padding {
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

.dropdown-as-button {
    /* background: url(some data); */
    /* width: 16px; */
    appearance: none;
    border: 0;
}

.width-100 {
    width: 100%;
}